<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ignite.mm.ticketing"
    android:versionCode="10"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".MainFragment" android:screenOrientation="portrait"></activity>
        <activity android:name=".MovieDateAndCinemaActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".MovieTimeActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".SelectingSeatActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".Movie_Info_Activity" android:screenOrientation="portrait"></activity>
        <activity android:name=".PDFMovieActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".BusConfirmActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".UserLogin" android:screenOrientation="portrait"></activity>
        <activity android:name=".UserRegister" android:screenOrientation="portrait"></activity>
        <activity android:name=".SelectDateActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".TravelAgentsActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".DeperatureTimeActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".EditBusSelectSeatActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".Bus_Info_Activity" android:screenOrientation="portrait"></activity>
        <activity android:name=".PDFBusActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".TicketPriceActivity" android:screenOrientation="portrait"></activity>
         <activity android:name=".ShowInfoActivity" android:screenOrientation="portrait"></activity>
         <activity android:name=".ShowInvoice" android:screenOrientation="portrait"></activity>
         <activity android:name=".PDFTicketActivity" android:screenOrientation="landscape"></activity>
        <activity android:name=".OtherListActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".BusTimeActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".BusTripsCityActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".BusMenuActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".BusBookingListActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".BusBookingConfirmDeleteActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".BusBookingDetailActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".BusSeatViewPagerActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>