<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		xmlns:tools="http://schemas.android.com/tools"
		package="com.ignite.mdm.ticketing.agent.callcenter"
		android:versionCode="2"
		android:versionName="@string/app_version">

	<uses-sdk
			android:minSdkVersion="16"
			android:targetSdkVersion="23"/>

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>

	<application
			android:name=".StarApplication"
			android:icon="@drawable/ic_launcher"
			android:label="@string/app_name_agent"
			android:theme="@style/Theme.Themestarticket"
			tools:node="replace">
		<activity
				android:name=".MainActivity"
				android:label="@string/title_activity_main"
				android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
				android:name=".MenuActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".MainFragment"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".MovieDateAndCinemaActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".MovieTimeActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".SelectingSeatActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".Movie_Info_Activity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".PDFMovieActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".BusConfirmActivity"
				android:screenOrientation="portrait"
				android:theme="@style/Theme.Themestarticket.BusComfirm"/>
		<activity
				android:name=".UserLoginActivity"
				android:screenOrientation="portrait"
				android:theme="@style/Theme.Themestarticket.userlogin"/>
		<activity
				android:name=".UserRegister"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".SelectDateActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".TravelAgentsActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".DeperatureTimeActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".BusSelectSeatActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".Bus_Info_Activity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".PDFBusActivity"
				android:screenOrientation="portrait">

			<!-- This activity handles "SEND" actions with text data -->
			<intent-filter>
				<action android:name="android.intent.action.SEND"/>

				<category android:name="android.intent.category.DEFAULT"/>

				<data android:mimeType="text/plain"/>
			</intent-filter>
		</activity>
		<activity
				android:name=".TicketPriceActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".ShowInfoActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".ShowInvoice"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".PDFTicketActivity"
				android:screenOrientation="landscape"/>
		<activity
				android:name=".OtherListActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".BusTimeActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".BusTripsCityActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".BusMenuActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".BusBookingListActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".BusBookingConfirmDeleteActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".BusBookingDetailActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".BusOperatorActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".CheckBluetoothConnect"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".HomeActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".NewSalesActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".OutstandingActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".SaleTicketActivity"
				android:label="@string/strmm_busticket_sale"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".BusOperatorSeatsActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".SaleByTripDateActivity"
				android:label="@string/strmm_khoneat"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".DeliveryActivity"
				android:label="@string/strmm_delivery"
				android:screenOrientation="portrait">
		</activity>
		<activity
				android:name=".AgentSeatsBookingActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".HomeNewActivity"
				android:screenOrientation="portrait"
				android:theme="@style/ToolbarTheme"/>
		<activity
				android:name=".TourPackageActivity"
				android:label="@string/strmm_tour_package_sale"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".TourCompanyActivity"
				android:label="@string/strmm_tourco_trip"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".TourDetailActivity"
				android:label="@string/strmm_detail_itinerary"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".CustomerInfoActivity"
				android:label="@string/strmm_customer_info"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".RegisterActivity"
				android:label="@string/strmm_register"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".AgentDepositActivity"
				android:label="@string/strmm_agent_deposit"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".TourConfirmActivity"
				android:label="@string/strmm_customer_info"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".SettingActivity"
				android:label="@string/strmm_change_language"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".AgentDepositFillActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".CbOddPaymentActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".InvoiceActivity"
				android:screenOrientation="portrait"
				android:theme="@style/AppTheme.Custom">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".HomeNewActivity"/>
		</activity>
		<activity
				android:name=".InvoiceDetailActivty"
				android:screenOrientation="portrait"
				android:theme="@style/AppTheme.Custom">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".InvoiceActivity"/>
		</activity>

		<activity
				android:name=".ChangePasswordActivity"
				android:screenOrientation="portrait"
				android:theme="@style/ToolbarTheme">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".HomeNewActivity"/>
		</activity>


		<service android:name=".NotiServiceActivity"/>

		<receiver
				android:name=".MyPhoneReceiver"
				android:enabled="true"
				android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
	</application>

</manifest>